.heroContainer {
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 4rem;
    margin-top: 0px;
}

.heroContainer::after,
.heroContainer::before {
    content: " ";
    width: 28.125rem;
    height: 28.125rem;
    border-radius: 28.125rem;
    background: #7c66e3;
    position: absolute;
    z-index: -1;
    filter: blur(225px);
}

.heroContainer::after {
    top: -3rem;
    left: -5rem;

}

.heroContainer::before {
    bottom: 2rem;
    right: -5rem;

}

.heroContent {
    flex: 1;
}

.heroContent > h3 {
    margin: 0px !important;
    font-size: 3rem;
    font-weight: 500;
    margin-inline: 5px;
    position: relative;
    margin-bottom: 0px;
    animation: animatetop 2s;
}

.heroContent h2 {
    margin: 0px !important;
    font-size: 3.8rem;
    font-weight: 800;
    line-height: 5rem;
    margin-top: 0px;
    margin-bottom: 1rem;
    margin-inline: 5px;
    position: relative;
    animation: animateleft 2s;
}

.typeWriterContainer {
    margin: 0px !important;
    display: flex;
}

.typeWriterContainer>span {
    margin: 0px !important;
    font-size: 2rem;
    font-weight: 500;
    line-height: 5rem;
    margin-top: 0px;
    position: relative;
    animation: animatebottom 2s;
    white-space: nowrap;
}

.typeWriterContainer>div>span {
    margin: 0px !important;
    font-size: 2rem;
    font-weight: 800;
    line-height: 5rem;
    margin-top: 0px;
    position: relative;
    animation: animatebottom 2s;
    white-space: nowrap;
    color: #7e61e7;
}

.heroContent p {
    margin: 0px !important;
    width: 80%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
    margin-inline: 5px;
    position: relative;
    animation: animatebottom 2s;
}

.socialIconsContainer {
    margin-top: 1rem;
    display: flex;
    gap: .5rem;
    cursor: pointer;
}

.socialIconsImage {
    width: 2.8rem;
    position: relative;
    animation: animatebottom 2s;
    border: 2px solid #7e61e7;
    border-radius: 50%;
    padding: 10px;
    -webkit-filter: drop-shadow(0px 0px 15px #7e61e7);
    filter: drop-shadow(0px 0px 50px #7e61e7);
}

.socialIconsImage:hover {
    /* transform: translateY(-0.5rem);
    transition: all .3s ease; */
    background: #4b009b
}

.resumeDownloadContainer{
    margin-top: 1.5rem;
    display: flex;
}

.resumeDownloadButton{
    text-wrap: nowrap;
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
    padding: 0.6rem 2rem;
    border: none;
    outline: 1.5px solid transparent;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: all 0.3 ease;
    position: relative;
    animation: animatebottom 2s;
}

.resumeDownloadButton:hover {
    color: #a993fe;
    background: #000;
    outline: 1.5px solid #a993fe;
}

.heroImage {
    width: 400px;
    border-radius: 30px;
    position: relative;
    animation: animaterightnofade 2s;
}

.heroImg {
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.heroImg>div {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 2rem;
}

.techIcon {
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0.65rem;
    border: 1.5px solid #6852ba;
    margin: 30px 10px;
    animation: animatezoom 2s;
}

.techIconImage {
    width: 3rem;
    height: auto;
    transition: all 0.3s ease;
}

.heroImage:hover,
.techIcon:hover .techIconImage {
    transform: translateY(-0.5rem);
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        top: 300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0
    }

    to {
        left: 0;
        opacity: 1
    }
}

@keyframes animateright {
    from {
        right: -300px;
        opacity: 0;
    }

    to {
        right: 0;
        opacity: 1;
    }
}

@keyframes animaterightnofade {
    from {
        right: -300px;
        opacity: 1;
    }

    to {
        right: 0;
        opacity: 1;
    }
}



@media (max-width:1025px) {
    .heroContent h3 {
        font-size: 2.4rem;
    }

    .heroContent h2 {
        font-size: 2.9rem;
        line-height: 4rem;
    }

    .heroContent p {
        font-size: 0.9rem;
        line-height: 1.6rem;
    }

    .typeWriterContainer>span {
        font-size: 1.4rem;
    }

    .typeWriterContainer>div>span {
        font-size: 1.6rem;
    }

    .heroImage {
        width: 20rem;
    }

    .techIcon {
        width: 4rem;
        height: 4rem;
    }

    .techIconImage {
        width: 2.5rem;
    }
}

@media (max-width:900px) {
    .heroContent h3 {
        font-size: 1.8rem;
    }

    .heroContent h2 {
        font-size: 2.1rem;
        line-height: 4rem;
    }

    .typeWriterContainer>span {
        font-size: 1rem;
    }

    .typeWriterContainer>div>span {
        font-size: 1.2rem;
    }
}

@media (max-width:768px) {
    .heroContainer {
        flex-direction: column;
        margin-top: 0px;
        padding-top: 2rem;
    }

    .heroImg {
        margin: 2rem 0 2rem 0;
    }

    .heroContainer h3 {
        margin-top: 0rem !important;
        font-size: 2rem;
    }

    .heroContainer h2 {
        font-size: 2.2rem;
    }

    .typeWriterContainer>span {
        font-size: 1.2rem;
    }

    .typeWriterContainer>div>span {
        font-size: 1.4rem;
    }

    .typeWriterContainer, .socialIconsContainer, .resumeDownloadContainer {
        justify-content: center;
    }

    .heroContent h2,
    .heroContent p,
    .heroContent h3,
    .typeWriterContainer>span,
    .typeWriterContainer>div>span {
        width: auto;
        text-align: center;
    }

    .heroContainer::after,
    .heroContainer::before {
        content: " ";
        width: 18rem;
        height: 18rem;
    }

    .heroContainer::after {
        top: 0rem;
        left: 0rem;
    }

    .heroContainer::before {
        bottom: 2rem;
        right: 0rem;
    }
}

@media (max-width:600px) {

    .heroContent h3 {
        font-size: 2rem;
        line-height: 1.3rem;
    }

    .heroContent h2 {
        font-size: 2.2rem;
        line-height: 3rem;
    }

    .heroContent p {
        font-size: 0.8rem;
        line-height: 1.3rem;
    }

    .typeWriterContainer>span {
        font-size: .8rem;
        line-height: 2.1rem;
    }

    .typeWriterContainer>div>span {
        font-size: 1rem;
        line-height: 2rem;
    }

    .heroImg {
        gap: 1rem;
    }

    .heroImg>div {
        gap: 1rem;
    }

    .heroImage {
        width: 16rem;
    }

    .techIcon {
        width: 3.3rem;
        height: 3.3rem;
    }

    .techIconImage {
        width: 2rem;
    }
}

@media (max-width:350px) {
    .heroImage {
        width: 12rem;
    }
}