.projectsContainer {
    margin-top: 5rem;
    padding-top: 8rem;
    position: relative;
}

.projectsContainer::after,
.projectsContainer::before {
    content: " ";
    width: 28rem;
    height: 28rem;
    border-radius: 28.125rem;
    background: #2f00ff;
    position: absolute;
    z-index: -1;
    filter: blur(400px);
}

.projectsContainer::after {
    top: 10rem;
    left: -10rem;
}

.projectsContainer::before {
    background: #9e51b9;
    bottom: 0rem;
    right: 0rem;
}

.projectsContainer>h5 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.projectsContent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
}


@media (max-width:768px) {
    .projectsContainer{
        padding-top: 6rem;
    }
    .projectsContainer>h5 {
        font-size: 1.3rem;
    }
}