.experienceContainer {
  margin-top: 5rem;
  padding-top: 8rem;
  position: relative;
}

.experienceContainer::after,
.experienceContainer::before {
  content: " ";
  width: calc(100% - 5rem);
  max-width: 28rem;
  height: 28rem;
  border-radius: 28.125rem;
  background: #7c66e3;
  position: absolute;
  z-index: -1;
  filter: blur(250px);
}

.experienceContainer::after {
  top: 15rem;
  left: 5rem;
}

.experienceContainer::before {
  background: #62426d;
  bottom: 10rem;
  right: 10rem;
}

.experienceContainer h5 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.experiencePointsUl {
  margin-top: 20px;
  list-style-type: disc;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.companyLink {
  text-decoration: none;
  color: white;
  width: fit-content;
}

.companyLink:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 425px) {
  .experiencePointsUl {
    margin-left: 0px;
  }

  .experiencePointsUl li {
    padding-left: 0px !important;
  }

  .experienceCard>div {
    width: 70vw;
  }
}

.workExperienceLinks {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.workExperienceLinks:has(:only-child) {
  justify-content: center;
}
  

.workExperienceButtons {
  margin-top: 10px;
  text-wrap: nowrap;
  font-size: 0.9rem !important;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #000;
  padding: 0.6rem 2rem;
  border: none;
  outline: 1.5px solid #a993fe;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: all 0.3 ease;
  position: relative;
  text-decoration: none;
}

.workExperienceButtons:hover {
  color: #a993fe;
  background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
  outline: 1.5px solid transparent;
  color: black;
  font-weight: bolder;
}